*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: grid;
    height: 100vh;
    background-color: bisque;
    grid-template-areas: 
        "header"
        "main"
        "footer"; 
    grid-template-rows: 90px 1fr 50px;
}

header{
    grid-area: header;
    background-color: aquamarine;
    display: grid;
    place-items: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: cadetblue;
    grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6";
    grid-template-rows: 400px 400px;
    gap: 32px;
}
